<div class="py-0" *ngIf="!isListOnly">
    <div class="container-fluid pb-4 pt-3 px-0 pt-0 d-inline-flex flex-row justify-content-between">
        <button class="btn btn-light float-right flex-nowrap" [routerLink]="['/']">
          <i class="fa fa-arrow-left pr-2"></i>
          Return to home
        </button>
        <div class="m-0 ml-4 p-0 flex-fill">
            <form class="container-fluid p-0 m-0" [formGroup]="form" id="ngForm" (ngSubmit)="searchCategory()">
                <div class="form-group row flex-nowrap m-0 p-0">
                    <div class="card flex-row flex-nowrap flex-fill">
                        <input
                            type="text"
                            class="form-control flex-fill border-0 shadow-none"
                            placeholder="Category's name or description"
                            aria-label="Category's name or description"
                            aria-describedby="button-addon1"
                            name="name"
                            formControlName="name"
                        />
                        <button class="btn btn-transparent shadow-none" form="ngForm" type="button" *ngIf="isCleanButtonVisible" (click)=" clearSearchInput()">
                            <i class="fa fa-close px-4" style="color:red"></i>
                        </button>
                    </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-dark" form="ngForm" type="submit">
                      <i class="fa fa-search px-4"></i>
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card-columns" *ngIf="!isLoadingCategories">
    <div *ngIf="categoriesFiltered.length>0">
        <div *ngFor="let category of categoriesFiltered">
            <app-category-card [name]=category.name [id]=category.id [description]=category.description></app-category-card>
        </div>
    </div>
    <div *ngIf="categoriesFiltered.length==0">
        No categories
    </div>
</div>
