.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card:hover{
  .card-img-top{
    opacity: 0.85;
  }
}
hr{
  border-top: 1px solid gray;
}