<app-latest-carousel [count]=4 [elements]=data *ngIf="this.data.length>0"></app-latest-carousel>

<div class="jumbotron mt-3 py-4">
  <h3>Welcome to OpenWiki brand new Wiki like application!</h3>
</div>

<div class="btn my-3 row d-block" (click)="openWikisPage()">
  <hr class="mt-0"/>
  <h2>Wikis</h2>
  <hr class="mb-0"/>
</div>
<app-wikis [count]=4 [isListOnly]=true [isRandom]=true></app-wikis>

<div class="btn my-3 row d-block" (click)="openArticlesPage()">
  <hr class="mt-0"/>
  <h2>Articles</h2>
  <hr class="mb-0"/>
</div>
<app-articles [count]=4 [active]=true [isListOnly]=true [isRandom]=true></app-articles>
