<div class="py-0" *ngIf="!isListOnly">
    <div class="container-fluid pb-4 pt-3 px-0 pt-0 d-inline-flex flex-row justify-content-between">
        <button class="btn btn-light float-right flex-nowrap" [routerLink]="['/']">
          <i class="fa fa-arrow-left pr-2"></i>
          Return to home
        </button>

        <div class="flex-fill m-0 ml-4 p-0">
            <form class="container-fluid p-0 m-0" [formGroup]="form" id="ngForm" (ngSubmit)="searchArticle()">
                <div class="form-group m-0 p-0 row flex-nowrap">
                    <div class="card flex-row flex-nowrap flex-fill">
                        <input
                            type="text"
                            class="form-control flex-fill border-0 shadow-none"
                            placeholder="Article's name or description"
                            aria-label="Article's name or description"
                            aria-describedby="button-addon1"
                            name="name"
                            formControlName="name"
                        />
                        <button class="btn btn-transparent shadow-none" form="ngForm" type="button" *ngIf="isCleanButtonVisible" (click)=" clearSearchInput()">
                            <i class="fa fa-close px-4" style="color:red"></i>
                        </button>
                    </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-dark" form="ngForm" type="submit">
                    <i class="fa fa-search px-4"></i>
                    </button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card-columns" *ngIf="!isLoadingArticles">
    <div *ngIf="articlesFiltered.length>0">
        <div *ngFor="let article of articlesFiltered">
            <app-article-card [title]=article.title [id]=article.id [description]=article.abstract [wiki_url]=this.article.wiki.url></app-article-card>
        </div>
    </div>
    <div *ngIf="articlesFiltered.length==0">
        No articles
    </div>
</div>