<header class="m-0">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow pr-3"
  >
    <div class="container-fluid">
      <a class="navbar-brand row d-flex" [routerLink]="['/']">
        <div>OpenWiki</div>   
        <div *ngIf="isDashboard()">-Dashboard</div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isMenuExpanded"
        (click)="toggleMenu()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isMenuExpanded }"
      >
        <ul class="navbar-nav flex-grow" *ngIf=!isMenuExpanded>
          <li class="nav-item" *ngIf="isDashboard()">
            <button class="btn" [routerLink]="['/home']"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <i class="fa fa-home"></i>
            </button>
          </li>

          <li class="nav-item" *ngIf="(isLoggedIn && !this.isDashboard())">
            <button class="btn" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
              <i class="fa fa-sliders"></i>
            </button>
          </li>

          <li class="nav-item" *ngIf=isLoggedIn>
            <button class="btn" (click)="toggleUserMenu()">
              <i class="fa fa-user" *ngIf=isLoggedIn></i>
              <i class="fa fa-sign-in" *ngIf=!isLoggedIn></i>
            </button>
          </li>

          <li class="nav-item" *ngIf=!isLoggedIn>
            <button class="btn" [routerLink]="['/user']" [routerLinkActive]="['active']">
              <i class="fa fa-sign-in"></i>
            </button>
          </li>
        </ul>

        <div class="list-group" *ngIf=isMenuExpanded>
          <a class="list-group-item-action py-2" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']">
            <div class="align-items-center d-flex w-100 justify-content-between">
              <div class="nav-item-title">Strona główna</div>
              <fa-icon [icon]="faHome"></fa-icon>
            </div>
          </a>
          <a class="list-group-item-action py-2" [routerLinkActive]="['link-active']" *ngIf=isLoggedIn [routerLink]="['/dashboard']">
            <div class="align-items-center d-flex w-100 justify-content-between">
              <div class="nav-item-title">Zarządzanie</div>
              <fa-icon [icon]="faSliders"></fa-icon>
            </div>
          </a>
          <a class="list-group-item-action py-2" (click)="toggleUserMenu()" *ngIf=isLoggedIn>
            <div class="align-items-center d-flex w-100 justify-content-between">
              <div class="nav-item-title">Użytkownik</div>
              <fa-icon [icon]="faUser"></fa-icon>
            </div>
          </a>

          <a class="list-group-item-action py-2" [routerLink]="['/user']" [routerLinkActive]="['active']" *ngIf=!isLoggedIn>
            <div class="align-items-center d-flex w-100 justify-content-between">
              <div class="nav-item-title">Login</div>
              <i class="fa fa-sign-in p-0"></i>
            </div>
          </a>
          
          <a class="list-group-item-action py-2" [routerLinkActive]="['link-active']" *ngIf=isLoggedIn (click)="logout()">
            <div class="align-items-center d-flex w-100 justify-content-between">
              <div class="nav-item-title">Logout</div>
              <fa-icon [icon]="faLogout"></fa-icon>
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>


  <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow bottom-nav" *ngIf="isLoggedIn&&isUserMenuExpanded">
    <div class="container-fluid" *ngIf=isUserMenuExpanded>
      <div class="row flex-sm-nowrap px-3">
        <div class="container-fluid justify-content-start pl-0 flex-nowrap" *ngIf=this.user?.userName>
          <div class="badge badge-dark my-1">
            <i class="fa fa-user p-0"></i>
          </div>
          <div class="px-2">{{this.user?.userName}}</div>
        </div>
        <div class="container-fluid justify-content-start pl-0 flex-nowrap" *ngIf=this.user?.email>
          <div class="badge badge-dark my-1">
            <i class="fa fa-envelope p-0"></i>
          </div>
          <div class="px-2">{{this.user?.email}}</div>
        </div>
      </div>
      <div>
        <button class="btn-light border rounded px-3 mx-2" *ngIf=!isMenuExpanded (click)="logout()">
          <i class="fa fa-sign-out"></i>
        </button>
      </div>
    </div>
  </nav>
</header>


