<div class="container pb-3 px-0 pt-0 d-inline-flex flex-row justify-content-between">
    <button class="btn btn-light float-right" [routerLink]="[return_url]">
      <i class="fa fa-arrow-left pr-2"></i>
      Return to {{return_name}}
    </button>
    <button class="btn btn-success float-right" form="ngForm" [disabled]="isWikiDataUpdated ? false : true">
      <i class="fa fa-check-square pr-2" style="color:white"></i>
      Save changes
    </button>
</div>
<div class="container pb-3 px-0">
  
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark d-flex flex-row justify-content-between">
      <div>Maintainers</div>
      <div>{{maintainers.length}}</div>
    </li>
    <div *ngFor="let maintainer of maintainers">
      <li class="row list-group-item py-0 px-0 m-0">
        <div class="btn flex-grow-1 d-flex flex-row align-items-center p-0" (click)="removeMaintainer(maintainer.id)">
          <i class="fa fa-pencil px-4 py-4 m-0"></i>
          <p class="m-0 justify-content-start">
            {{maintainer.userName}}
          </p>
        </div>
      </li>
    </div>
  </ul>
  
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark flex-grow-1 d-flex flex-row justify-content-between">
      <div>Users</div>
      <div>{{other_users.length}}</div>
    </li>
    <!-- TODO: add search field -->
    <div *ngFor="let user of other_users">
      <li class="row list-group-item py-0 px-0 m-0">
        <div class="btn flex-grow-1 d-flex flex-row align-items-center p-0" (click)="addMaintainer(user.id)">
          <i class="fa fa-user px-4 py-4 m-0"></i>
          <p class="m-0 justify-content-start">
            {{user.userName}}
          </p>
        </div>
      </li>
    </div>
  </ul>
</div>

